.services {
	margin-top: 50px;
}
.services_item {
	width: 270px;
	float: left;
	text-align: center;
}
.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
.services_item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}
.services_item:last-child {
	float: right;
}
.services_item:nth-child(2) {
	margin-left: 60px; 
}
#services{
	padding-bottom: 120px;
}
#portfolio {
	background: #f7f7f7f7;
	padding-bottom: 120px;
}
.works {
	margin-top: 35px;
}
.works img {
	float: left;
    width: 291px;
    height: 350px;
    margin-left: 19px;
}
.about h3{
	font-size: 18px;
	margin-bottom: 5px;	
}
.about p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}
.about img{
	display: block;
	margin: auto;
}
.profile {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #FAFEFF 0%, #E2E6E8 100%);
    box-shadow: -1px 1px 2px rgba(181, 184, 185, 0.2), 1px -1px 2px rgba(181, 184, 185, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(181, 184, 185, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(181, 184, 185, 0.5);
    width: calc(100% - 30px);
    height: auto;
    margin: 15px auto 70px auto;
    max-width: 400px;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    top: 100px;
}

.profile-ava {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 134px;
    height: 134px;
    background: #EDF1F3;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(213, 217, 219, 0.5), inset -5px 5px 10px rgba(213, 217, 219, 0.2), inset 5px -5px 10px rgba(213, 217, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(213, 217, 219, 0.9);
    border-radius: 50%;
    margin-top: -82px;
}
.profile-img {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-img img {
    width: 100%;
}

.pofile-link input {
    text-align: center;
    color: #B0B0B0;
    font-weight: bold;
    outline: none;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    background: #EFF3F4;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(215, 219, 220, 0.5), inset -5px 5px 10px rgba(215, 219, 220, 0.2), inset 5px -5px 10px rgba(215, 219, 220, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(215, 219, 220, 0.9);
    border-radius: 50px;
    border: none;
}
.pofile-desc {
    margin: 20px auto;
}
.pofile-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}
.pofile-btn-link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 47%;
    height: 40px;
    background: #EFF3F4;
    box-shadow: -5px 5px 10px rgba(215, 219, 220, 0.2), 5px -5px 10px rgba(215, 219, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(215, 219, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 219, 220, 0.5);
    border-radius: 50px;
    margin-top: 20px;
    text-decoration: none;
    color: #B3B3B3;
}
.pofile-btn-link img {
    margin-right: 7px;
}
